header {
    background-color: rgb(0,188,213);
    min-width: 100%;
    min-height: 9%;
}

.dropdowns {
    background-color: rgb(77,208,226);
    min-width: 100%;
    min-height: 7%;
}

.content {
    background-color: rgb(221,221,221);
    min-width: 100%;
    min-height: 75%;
    max-height: 75%;
    overflow: auto;
}

footer {
    background-color: rgb(0,188,213);
    min-width: 100%;
    min-height: 9%;
}

@media (max-width:767px) {
    .content {
        min-width: 100vh;
        padding: 0;
    }

    footer {
        min-height: 20vh;
        min-width: 100vh;
    }
}
