.image {
    width: 490px;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

mat-label {
    color: white;
    margin: 5px;
    font-size: 12px;
}

button {
    margin: 5px;
    color: white;
    background-color: rgb(77,208,226);

    border: 0;
    border-radius: 5px;
}

.details {
    width: 490px;
    height: 70px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
}

.author {
    width: 75%;
    height: 70px;

    color: black;
    background-color: white;
    font-weight: bold;

    display: flex;
    align-items: center;
    padding-left: 15px;

    border-bottom-left-radius: inherit;
}

.date {
    width: 25%;
    height: 70px;
    background-color: rgb(253, 215, 52);
    color: white;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: inherit;
}

@media (min-width:768px) and (max-width:1200px) {
    .image {
        width: 370px;
        height: 250px;
    }

    .details {
        width: 370px;
        height: 70px;
    }
}
