<div>
    <div   class="image"
           [ngStyle]="{ 'background-image': 'url(' + article.imageUrl + ')'}">
        <button (click)="openArticle()">
            Read article
        </button>
        <mat-label>
            {{article.description}}
        </mat-label>
    </div>
    <div    class="details">
        <div    class="author">
            Article by {{article.author?article.author: 'unknown'}}
        </div>
        <div    class="date">
            {{article.date}}
        </div>
    </div>
</div>
