/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color-blue: #00BCD5;
$color-turkey: #4DD0E2;
$color-grey: #DDDDDD;
$color-white: #FFFFFF;
$color-yellow: #FDD734;
$color-black: #000000;

$laptop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 767px;
