.content {
    min-height: 720px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width:768px) and (max-width:1200px) {
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:767px) {
    .content {
        justify-content: center;
        min-width: 100vh;
        padding: 0;
    }
}
