.content {
    min-height: 720px;

    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;

    padding-left: 130px;
    padding-right: 130px;
}

article {
    min-width: 22%;
}

@media (min-width:768px) and (max-width:1200px) {
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}