.content {
    background-color: rgb(77,208,226);
    min-width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

mat-form-field {
    margin-left: 15px;
}

@media (min-width:768px) and (max-width:1200px) {
    .content {
        justify-content: center;
    }

    mat-label:not(.placeholder) {
        display: none;
    }
}
